{% extends "base.html" %}

{% block content %}

   <div class="card center">
         <p>Your Password has been changed Successfully.please <a href="{% url 'users:login' %}">Login</a></p>
   </div>
   <div class="center">
         <form method="POST">
            {% csrf_token %}
            {% for field in form  %}
                   {{field.label_tag}}
                      {{field}}
                   {% if field.errors %}
                     <small>{{fileld.errors | striptags}}</small>
                          
                   {% endif %}
                
            {% endfor %}
             <input type="submit" value="login" class="btn btn-primary full-width">
             <hr>
             <p class="text-center">Forgot Your Password? <a href="{% url 'users:password-reset' %}">Reset Password</a></p>
             <p class="text-center">Dont Have a account> <a href="{% url 'users:register' %}">Join Now</a></p>

         </form>
   </div> 
{% endblock content %}
    