{% extends "base.html" %}

{% block content %}
   
      
       <form method="post">
           {% csrf_token %}
              <input type="hidden" name="uid" value="{{ uid }}">
              <input type="hidden" name="token" value="{{ token }}">
              <label for="id_new_password">New password:</label>
              <input type="password" name="new_password1" id="id_new_password">
              <label for="id_new_password_confirm">Confirm new password:</label>
              <input type="password" name="new_password2" id="id_new_password_confirm">
              <button type="submit">Change password</button>
       </form>

{% endblock content %}
    